.ssd2 img{

 height: 370px;   
}
.infor84{
    background-size: cover;
    position: relative;
}
.titlee1{
    position: absolute;
    top: 18rem;
}
.infor84 img{
    border-radius: 20px;
}
.sections img{
    border-radius: 20px;
}