// Section1.scss
.section1 {
    background-image: url("../../images/uni.jpg");
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.section1 .title {
    position: absolute;
    top: 20rem;
    left: 2rem;
}

.section1 .title p {
    margin-bottom: 1rem;
}

.section1 img {
    border-radius: 50%;
    width: 100px;
}
