[data-theme="light"] {
    --dark: white;
    --body-color: white;
}

[data-theme="dark"] {
    --dark: rgba(0, 0, 0, 0.152);
    --body-color: gray;
    --input-color:rgba(0, 0, 0, 0.162);

}
// _header.scss

.header {
    background-color: var(--header-background-light);
    color: var(--text-color-light);
  }
  
  .dark-mode {
    --header-background: #333; // Dark mode background color
    --text-color: #fff; // Dark mode text color
  }
  
  .light-mode {
    --header-background: #f0f0f0; // Light mode background color
    --text-color: #333; // Light mode text color
  }
  
  .header {
    background-color: var(--header-background);
    color: var(--text-color);
  }
  
  