// Section3.scss
.informations {
    background-size: cover;
    position: relative;
}

.infor {
    position: absolute;
    top: 20rem;
    left: 2rem;
}

.infor img {
    border-radius: 50px;
    width: 50px;
}

.leftCards img {
    border-radius: 15px;
}

.desc button {
    border-radius: 70px;
}

.nature {
    width: 800px;
    border-radius: 10px;
}

.mine1 {
    width: 20px;
    height: 30px;
    border-radius: 50px;
}

.cardimg {
    border-radius: 20px !important;
}

.secondCard {
    background-size: cover;
    position: relative;
}

.secondCard img {
    width: 200px;
    border-radius: 10px;
}

.text36 {
    position: absolute;
    top: 8rem;
    text-align: center;
}

.sectionFOoter {
    background-color: rgb(250, 246, 246);
    border-radius: 10px;
}
